<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="/styles/range.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="icon" href="/img/W.png">
  <title>What The Fun?!</title>
</head>

<body>
  <header>
    <div class="ui container" id="home">
      <div class="ui segment">
        <div class="ui grid" id="navbar">
          <div class="ui teal three item labeled inverted menu">
            <a href="/" class="item" id="homePage">
              <i class="search icon"></i>
              Home
            </a>
            <a href="/favorites" class="item" id="favoritesPage">
              <i class="star outline icon"></i>
              Favorites
            </a>
            <a href="/friends" class="item" id="friendsPage">
              <i class="users icon"></i>
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  {{{body}}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script type="text/javascript" src="/js/range.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>