<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link
    href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css"
    rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/styles/range.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="icon" href="/img/W.png">

  {{!-- Google login info --}}
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id"
    content="771288009271-0dgafqif6vide2hvugdlejduli0nv763.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <title>What The Fun?!</title>
</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=380908629445630&autoLogAppEvents=1"></script>


  <script>
    var postData = {};

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      //console.log('statusChangeCallback');
      //console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        testAPI();
      } else {
        // The person is not logged into your app or we are unable to tell.
        document.getElementById('status').innerHTML = 'Please log ' +
          'into this app.';
      }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
      FB.getLoginStatus(function (response) {
        statusChangeCallback(response);
      });
    }

    window.fbAsyncInit = function () {
      FB.init({
        appId: "380908629445630",
        cookie: true,  // enable cookies to allow the server to access 
        // the session
        xfbml: true,  // parse social plugins on this page
        version: 'v3.2' // The Graph API version to use for the call
      });

      // Now that we've initialized the JavaScript SDK, we call 
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.

      FB.getLoginStatus(function (response) {
        statusChangeCallback(response);
        postData = response;
        //console.log("FB callback data", postData);
      });

    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
      //console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function (response) {
        //console.log(response);
        document.getElementById('status').innerHTML = response.name;
        postData.username = response.name;
        postData.userID = response.id;
      });

    }

  </script>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=380908629445630&autoLogAppEvents=1"></script>


  <header>
    <div class="ui container" id="home">
      <div class="ui segment">
        <div class="ui grid">
          <div class="sixteen column row">
            <div class="fourteen wide center aligned column">
              <h1>What the Fun?!</h1>
            </div>
            <div class="right floated two wide column" id="facebook-display">
              <div id="status">
              </div>
              <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" style="margin:auto">
              </fb:login-button>

              {{!-- Google Sign in --}}
              {{!-- <div class="ui contianer g-signin2" id="google" data-onsuccess="onSignIn" data-theme="dark"></div> --}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <div class="ui grid" id="navbar">
          <div class="ui teal three item labeled inverted menu">
            <a href="/" class="item" id="homePage">
              <i class="search icon"></i>
              Home
            </a>
            <a href="/favorites" class="item" id="favoritesPage">
              <i class="star outline icon"></i>
              Favorites
            </a>
            <a href="/friends" class="item" id="friendsPage">
              <i class="users icon"></i>
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>


  {{{body}}}


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script
    src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script type="text/javascript" src="/js/range.js"></script>
  <script src="/js/index.js"></script>
</body>


</html>