<div class="ui container">
    <div class="ui segment" id="home">
        <h1>{{title}}</h1>
    </div>
    <div class="ui segment">
        <p>{{msg}}</p>
        <div class="ui grid" id="main-content">
            <table class="ui compact celled definition teal table">
                <thead class="full-width">
                    <tr>
                        <th>Event</th>
                        <th>Event Date</th>
                        <th>Address</th>
                        <th>Start Time</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="favoriteBody">
                    <div class="ui active inverted dimmer" id="loader">
                        <div class="ui text loader">Loading</div>
                    </div>
                    <p></p>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th>
                        </th>
                        <th></th>
                        <th colspan="1">
                            <a href="https://predicthq.com/" target="_blank" class="ui tiny center aligned label"
                                id="attribution">
                                <img src="https://developer.predicthq.com/favicon.ico">
                                Powered by PredictHQ
                            </a>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>