<div class="ui container">
    <div class="ui segment" id="home">
        <h1>{{title}}</h1>
    </div>
    <div class="ui segment" id="friendsSegment" style="display:none">
        <div class="ui three column grid" id="friends">

        </div>
    </div>
</div>