<div class="ui container">
    <div class="ui segment" id="home">
        <h1>{{title}}</h1>
    </div>
    <div class="ui segment">
        <div class="data-tables">
            <table id="dataTable" class="text-center" >
                <thead class="bg-light text-capitalize">
                    <tr>
                        <th>userID</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Events?</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
</div>
