<div class="ui container" id="home">
  <div class="ui segment">
    <div class="ui form" id="header">
      <div class="four fields">

        <div class="field">
          <div class="ui sub header">Around</div>
          <div class="ui calendar" id="calendar">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input autocomplete="off" type="text" placeholder="Date" id="calendar-input">
            </div>
          </div>

        </div>

        {{!-- Keyword Search --}}
        <div class="field">
          <div class="ui sub header">Keyword(s)</div>
          <div class="ui fluid input focus">
            <input autocomplete="off" type="text" name="keyword" placeholder="Optional" id="keyword">
          </div>
        </div>
        {{!-- Keyword Search --}}

        {{!-- Category Dropdown --}}
        <div class="field">
          <div class="ui sub header">Event Type<span style="color:red"><strong> *</strong><span></span></div>
          <select multiple="" name="events" id="etype" class="ui fluid normal dropdown">
            <option value="">Required</option>
            <option value="concerts,festivals,performing-arts,sports,community,conferences,expos">All</option>
            <option value="concerts">Concerts</option>
            <option value="festivals">Festivals</option>
            <option value="performing-arts">Performing Arts</option>
            <option value="sports">Sports</option>
            <option value="community">Community Events</option>
            <option value="conferences">Conferences</option>
            <option value="expos">Expos</option>
          </select>
        </div>
        {{!-- Category Dropdown --}}

        {{!-- Search Bar --}}
        <div class="field">
          <div class="ui sub header">Location<span style="color:red"><strong> *</strong><span></span></div>
          <div class="ui fluid input focus">
            <input autocomplete="off" type="text" name="location" placeholder="Required" id="loc">
          </div>
        </div>
        {{!-- Search Bar --}}

      </div>

      {{!-- End of Form --}}

      {{!-- Range input slider --}}
      <div class="ui row">
        <div class="ui sub header">Search Radius</div>
        <div class="ui teal range" id="range"></div>
        <div class="ui transparent fluid input">
          <input type="text" id="rangeInput">
          <div class="ui teal label" id="miles">
            mi
          </div>
          <div class="ui transparent label" id="kilometers">
            km
          </div>
        </div>
      </div>
      <div class="ui reset button" id="reset">Reset</div>
    </div>
    {{!-- Range input slider --}}


  </div>
  <div class="ui segment" id="resultsDisplay" style="display:none">
    <div class="ui grid" id="main-content">
      <table class="ui compact celled definition teal table">
        <thead class="full-width">
          <tr>
            <th>Favorite</th>
            <th>Event</th>
            <th>Event Date</th>
            <th>Address</th>
            <th>Start Time</th>
          </tr>
        </thead>
        <tbody id="tableBody">
          <div class="ui active inverted dimmer" id="loader">
            <div class="ui text loader">Loading</div>
          </div>
          <p></p>
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th>
            </th>
            <th>
              <div class="ui small button" id="showMore">
                Show More
              </div>
            </th>
            <th> <a href="https://predicthq.com/" target="_blank" class="ui tiny center aligned label" id="attribution">
                <img src="https://developer.predicthq.com/favicon.ico">
                Powered by PredictHQ
              </a></th>
            <th colspan="1">
            </th>
            <th>
              <div class="fb-share-button" data-href="https://what-the-fun.herokuapp.com" data-layout="button_count"
                data-size="large"><a target="_blank"
                  href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwhat-the-fun.herokuapp.com%2F&amp;src=sdkpreparse"
                  class="fb-xfbml-parse-ignore">Share</a></div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>