.list-group-item {
  line-height: 2.5;
}

body {
  margin: auto;
  padding: auto;
  background-color: #00a395;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

.container {
  margin: auto;
  padding: auto;
}

#facebook-button {
  margin-left: 4px;
}

#facebook-display,
#resetDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#rangeDisplay,
#attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5px;
}

#rangeInput {
  padding-left: 8px;
  align-content: center;
}

#home {
  margin-top: 8px;
}

#miles:hover,
#kilometers:hover,
#reset:hover,
#showMore:hover {
  cursor: pointer;
}

#reset:active {
  background-color: teal;
}
